
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size: cover; 
    background-repeat: no-repeat;
    background-image: url(../lesson_6/1661362232_3-oir-mobi-p-zadnii-fon-dlya-strima-pinterest-3.jpg)
}

.todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto;
    
    
}

input{
    border: 2px solid white;
    font-size: 20px;
    color: white;
    height: 40px;
    width: 500px;
    padding: 5px;
    background-image: url(1661362232_3-oir-mobi-p-zadnii-fon-dlya-strima-pinterest-3.jpg);
    cursor: pointer;
    border-radius: 16px;   
}

#create_button{
    width: 250px;
    height: 40px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    background: rgba(0,0,0,0.1);
    font-size: 20px;
    border-radius: 16px;
}

#todo_list{
    margin: 0 auto;
    width: 750px;
    
    
}

.block_text {
    width: 100%;
    border: 2px solid whitesmoke;
    padding: 8px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}
h3{
    font-size: 25px;
    font-family: sans-serif;
    cursor: pointer;
}
.div_button{
    display: flex;
    width: 320px;
    height: 100%;
    justify-content: space-between;
}
.delete_button {
    width: 150px;
    height: 40px;
    background-color: rgb(212, 15, 15);
    color: black;
    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius:  16px;
    font-size: 20px;
}
.edit_button {
    width: 150px;
    height: 40px;
    background-color: rgb(224, 224, 12);
    color: black;
    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius:  16px;
    font-size: 20px;
}
.toggle{
    text-decoration: line-through;
}